<div
  data-controller="scoreboard"
  data-action="turbo:before-stream-render@document->scoreboard#sort"
  class="scoreboard"
>
  <% game.user_games.order(score: :desc).each do |user_game| %>
    <%= render 'user_games/user_game', user_game: user_game %>
  <% end %>
</div>
