<div id="<%= dom_id user_game %>" class="px-4 py-6 text-center border-4 border-black border-solid rounded-lg space-y-3">
  <h1 class="text-6xl font-bold"><%= user_game.user.name %></h1>
  <h3 class="text-4xl font-bold"><%= user_game.score %></h3>
</div>
